---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import Html from "./icons/Html.astro"
import Css from "./icons/Css.astro"
import ReactNative from "./icons/ReactNative.astro"
import Api from "./icons/Api.astro"
import JavaScript from "./icons/JavaScript.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-black text-white",
    icon: Tailwind,
  },
  HTML: {
    name: "HTML",
    class: "bg-black text-white",
    icon: Html,
  },
  CSS: {
    name: "CSS",
    class: "bg-black text-white",
    icon: Css,
  },
  REACTNATIVE: {
    name: "React Native",
    class: "bg-black text-white",
    icon: ReactNative,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-black text-white",
    icon: JavaScript,
  },
  API: {
    name: "API",
    class: "bg-[#003159] text-white",
    icon: Api,
  },

}
const PROJECTS = [
  {
    title: "Simplylan - Blog",
    description:
      "Blog de Viajes, Panoramas, Planificación y más. Descubre nuevas formas de viajar, encuentra inspiración para tu próximo destino y déjate llevar por historias que te transportarán a lugares increíbles.",
    //link: "https://svgl.vercel.app/",
    link: "https://simplylan.com",
  
    image: "/projects/simplylan.webp",
    tags: [TAGS.HTML, TAGS.CSS],
  },
  {
    title: "SnapCuisine. - App móvil para encontrar recetas",
    description:
      "Aplicación móvil en desarrollo, construida con React Native, que incorpora un modelo de inteligencia artificial para el reconocimiento de ingredientes y sugiere recetas personalizadas.",
    
    github: "",
    image: "/projects/appSC.webp",
    tags: [TAGS.REACTNATIVE, TAGS.JAVASCRIPT],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



